body {
    background-image: url("drinking-water.jpg");
    background-color: #222828;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Cantarell,'Helvetica Neue',Ubuntu, Oxygen, Roboto,'Segoe UI',BlinkMacSystemFont, -apple-system, 'Open Sans',  sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 20px;
}

#increment-btn {
    background: darkblue;
}

#increment-btn:hover {
    background: lightblue;
    transition-duration: .25s;
}

#save-btn {
    background: white;
    color: blue;
}

#save-btn:hover {
    background: lightblue;
    color: white;
    transition-duration: .25s;
}

#lower-half {
    padding-top: 30vh;
}

.container {
    padding: 1rem 0;
    max-width: 400px;
    margin: 2rem auto;
    background: rgb(255,255,255, .25);
    border-radius: 15px;    
}